*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.introduction{
    display:flex;
    color:gray;
    padding:20px;
    border-bottom: 1px solid gray;
    font-size: 15px;
}

.health{
    color:gray;
    padding:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.intro{
    width:50%;
}
.icon{
    float: right;
    display:inline;
    margin-left: 70px;
}
header{
    display:flex;
    position: sticky;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: white; z-index: 5;
}
header ul li{
    list-style-type: none;
    display:inline-block;
    margin-top: 80px;
    margin-right: 110px;  
}
header ul li a{
    text-decoration: none;
    color:gray;
}

button{
    color:white;
    background-color:#a7c957;
    border-radius:5px;
    border-color: #a7c957;
    border-style: solid;
    padding:10px 20px;
}
#slider{
    overflow:hidden;
}
#slider figure{
    position: relative;
    width:500%;
    margin: 0;
    left:0;animation:20s infinite;
}
#slider figure img{
    width:20%;
    float:left;
}
@keyframes slider{
    0%{
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left:-400%;
    }
}
main section h2{
    margin: 30px;
    width:300px;
}
.one{
    color:#a7c957;
}
.two{
    color:rgb(135, 182, 235);
}
.about{
    width:500px;
    margin:30px;
    line-height: 20px;
}
main{
    background-color: snow;
    padding:100px;

}
#aboutus{
    display:flex;
    /*margin:100px;
    padding:50px;*/
    background-color: snow;
}
.woman{
float: right;
}
.general{
   float: left;
   margin-top: 0;
   padding-top: 0;
   border-radius: 50%;
}